$table-border-color: #ddd;
$header-background-color: #f2d4d1;
$button-background-color: #ffcccc;
$button-hover-color: #ff9999;

.dashboard {
  width: 100%;
  height: 100%;
  background-color: #e1baba;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-areas:
    "nav "
    "bcontainer"
    "scontainer"
    "tcontainer"
    "footer";
  nav {
    grid-area: nav;
    background-color: white;
    display: flex;
    height: 75px;
    justify-content: end;
    align-items: center;
    a {
      margin-right: 30px;
    }
  }

  .button-container {
    grid-area: bcontainer;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 10px 20px;
  }
  .search-container {
    grid-area: scontainer;
    margin: 10px 20px;
    // background-color: aqua;
    display: flex;
    input {
      width: 100%;
    }
    button {
      margin-left: 20px;
    }
  }
  .table-container {
    grid-area: tcontainer;
    display: block;
    margin: 10px 20px;
    background-color: aliceblue;
    border: 1px solid black;
    table {
      width: 100%;
      border-collapse: collapse;
      font-family: Arial, sans-serif;

      th,
      td {
        padding: 10px;
        text-align: left;
        border: 1px solid rgb(192, 185, 185);
      }

      th {
        background-color: $header-background-color;
        font-size: 1.1em;
      }

      td {
        background-color: #f9f9f9;
      }

      button {
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: $button-hover-color;
        }
      }
    }
  }

  footer {
    grid-area: footer;
    background-color: white;
    border-top: 1px solid black;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
